@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.bg-primary{
    background-color: #1b1b1b;
}
body {
    font-family: 'Merriweather', serif;
    position: relative;
    transition: width 10s linear; 
}


.navbar_animation{
    transition: all 500ms ease-out;
}
  