@tailwind base;
@tailwind components;
@tailwind utilities;

v{
    background-image: url();
}
.home-imag{
    background-image: url(./images/myphoto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 290px;
    height:290px;
    border-radius: 50%;
}